.home-buttons {
    color:black;
    cursor: pointer;
    transition: opacity 0.15s;
    transition: box-shadow 0.15s;
    font-style:italic;
    font-size: 20px;
    display:inline-block;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 20px;
    padding-bottom:30px;
}

.home-buttons:hover {
    opacity: 0.6;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.home-buttons:active{
    opacity: 0.4;
}

.home-contianer{
    padding-top: 20px;
}

.homePic{
    border-radius: 15px; 
    border:thin solid rgb(238, 237, 237);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    width: 400px;
}

.intro_hello {
    font-family:Mea Culpa;
    font-weight:lighter;
    text-align: center;
}

.second_head{
    padding-top:10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.intro_para{
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right:15px;
    font-size:17px;
    display: inline-block;
    width: 850px;
}

.LinkedIn {
    background-color:rgb(42, 104, 219);
    color:aliceblue;
    padding-top: 1.5px;
    padding-bottom: 4px;
    padding-left: 3px;
    padding-right: 4px;
    font-size:20px;
    border-radius:5px;
    box-shadow: 5px 5px 10px 2px grey;
}

.LinkedIn:hover {
    background-color:rgb(90, 138, 227);
}

.LinkedIn:active {
    color: black;
}

.Email{
    background-color:rgb(42, 104, 219);
    color:aliceblue;
    font-size:20px;
    padding-top: 1.5px;
    padding-bottom: 4px;
    padding-left: 3px;
    padding-right: 4px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px grey;
}

.Email:hover{
    background-color:rgb(90, 138, 227);
}

.Email:active{
    color: black;
}

.bottom-menu{
    padding-top:20px;
}

.spacer {
    margin: 0 30px;
}

.space{
    padding-top:10px;
}

.entry{
    height: 250px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.501); 
}

.entry-pic{
    width:70px;
}

.border-right{
    border-right:1px solid rgb(78, 77, 77);
}

.container-res{
    padding-top: 30px;
    padding-left: 20px;
    padding-right:20px;
    padding-bottom: 50px;
    width:900px;
}

.abme-container{
    padding-top:50px;
    padding-bottom:80px;
}

.abme-img-contain{
    padding-left:150px;
}
.abme-img{
    box-shadow: -1px 1px 5px 15px white;
    border-radius: 300px;
    padding-left: 30px;
    padding-right:30px;
}

.small-heading{
    font-size:25px;
    font-weight:bold;
}

.section-divider {
    border-top: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}