{% extends "r_home.html" %}

{% block content%}

    <div class="container-res">
        <h1>Riley Washington - Resume</h1>
        
        <div class="section-divider"></div>
        <h2>EDUCATION</h2>
        <p><strong>Columbia University, New York, NY</strong><br>
        August 2020 - Expected May 2024<br>
        GPA: 3.6<br>
        B.A in Computer Science<br>
        Concentration: East Asian Studies, Korea<br>
        <p></p>
        Relevant coursework: Intro to Java, Data Structures, Advanced Programming, Discrete Math, Fundamentals of Computer Science, Intro to Databases, Software Engineering as a Service, Computer Science Theory, Intro to Cryptography, Artificial Intelligence, Computer Graphics, User Interface Design</p>
        
        <p><strong>Sogang University, Seoul, South Korea</strong><br>
        May 2022 - August 2022<br>
        Level 4 Listening, Writing, Reading, and Speaking courses</p>

        <div class="section-divider"></div>
        <h2>SKILLS</h2>
        <p><strong>Programming Languages:</strong><br>
        Proficient in Java, JavaScript, HTML, CSS, Ruby, C, C++, SQL, Python</p>
        <p><strong>Software Tools:</strong><br>
        Git, Heroku, Cucumber, RSpec, Excel, Google Sheets</p>

        <div class="section-divider"></div>
        <h2>PROJECTS</h2>
        <p><strong>UniversityEmployeed</strong><br>
        Developed a dynamic web application that facilitated Columbia students in discovering available research and job opportunities on campus.
        Created using Ruby and HTML, incorporating testing with Cucumber and RSpec, deployment on Heroku, and collaborative version control with Git.</p>
        
        <p><strong>Symptom Checker for DivHacks Hackathon</strong><br>
        Utilized HTML, CSS, and Python programming to create a dynamic web application for post-surgery individuals, offering real-time alerts regarding their risk level for Sepsis.
        Collaborated effectively using Git during the development process.</p>
        
        <p><strong>Poker Game</strong><br>
        Designed and implemented a Java program for an immersive poker game experience, incorporating game development principles.
        Simulated gameplay against a computer opponent to enhance user experience.</p>

        <div class="section-divider"></div>
        <h2>LEADERSHIP/EXTRACURRICULAR ACTIVITIES</h2>
        <p><strong>Code Nation, Volunteer</strong><br>
        Mentored underprivileged high school students, fostering their development of Front-end coding projects using Javascript, HTML, and CSS.</p>
        
        <p><strong>Bacchante A capella group, Vice President</strong><br>
        Orchestrated an on-campus collaborative women’s A Capella group, directing rehearsals, and orchestrating performances at prestigious venues like Radio City.</p>
        
        <p><strong>Jazz Ensemble, Vocalist</strong><br>
        Founded and currently lead a jazz ensemble, uniting students from Columbia, NYU, and Julliard, enhancing musical collaboration and performance.</p>

        <div class="section-divider"></div>
        <h2>EMPLOYMENT HISTORY</h2>
        <p><strong>Ambrosia Bakery, Baton Rouge</strong><br>
        Service, May 2023 - August 2023<br>
        Managed and operated the cash register with precision, facilitating efficient and error-free transactions.</p>
        
        <p><strong>Resins By Riley, New York</strong><br>
        Creator and Manager, May 2020 – Present<br>
        Founded and oversaw operations of a handmade jewelry company, dedicating 15% of profits to the Color of Change Charity.
        Boosted sales by 50% in the first year of operation through strategic marketing initiatives, social media campaigns, and meticulous financial planning utilizing Excel and Google Sheets.</p>
    </div>

{% endblock %}

