
{% extends "r_home.html"%}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h1 class="intro_hello">
            Hello, I'm Riley Washington
        </h1> 
        <center><img src="https://lh3.googleusercontent.com/pw/AP1GczO790_0T8fOJX3OLzj1e6YnM_aF8EEGFFexIrZ2lZC7jwqhBIYmou1m1iG7S9w5pmRrafaO1erCxG5xW2Qj8J45JR_0vrJJVf6erPjg7To_5aZ8cCimkJF706jGHvni3GU3hohkRYhTK5RGS7JLYbR_=w912-h1216-s-no-gm?authuser=0" class = "ProPic" height = "500"></center>       
    </div>
    <div class = "col-md-6">
        <h2 class="second_head">
            About Me
        </h2>
        <p class ="intro_para">
        I am a senior at Columbia University majoring in computer science and minoring in East Asain studies. 
        My extracirricular activities include performing and listening to music, coding fun projects like this one, learning languages and making jewelry.
        At Columbia University I have completed many courses pertaining to coding including Intro to Coding in Java, Data Structures in java,
        Advanced Programming in C, Discrete Mathematics in python and computer science theory, and I have completed a total of 30 computer lab
        assignments in the Java, C, and Python computer languages.
        I am the music director of my A Capella group, Bacchante, the creator and manager of my own jewelry company, ResinsByRiley, 
        and the organizer of my own jazz group consisting of NYU, Julliard, and Columbia student musicians. 
        Overseeing everything from the financial makeup of my company to the social media page has required me to learn 
        and improve essential skills such as time management and effective communication.
        </p>
    </div>
</div>

{% endblock %}
