
{% extends "r_home.html"%}

{% block content %}
<div class="row home-contianer">
    <div class="col-md-12">
    <center><h1 class="intro_hello">
        Riley Washington
    </h1></center>
    <p></p>
        <center><img class = "homePic" src="{{ url_for('static', filename='attachments/pro_pic_front.png') }}" alt="Profile Picture"></center>
        <p></p>  
        <center><p class = "intro_para">
            Welcome to my Personal Website! Here you can view my recent coding projects, my resume, 
            and my LinkedIn profile.
            </p></center>
    </div>
</div>

{% endblock %}
