
{% extends "r_home.html"%}

{% block content %}
<div class="row home-contianer">
    <div class="col-md-12">
   
    <p></p>
        <center><img class = "homePic" src="{{ url_for('static', filename='attachments/pro_pic_front.png') }}" alt="Profile Picture"></center>

        <br>  

        <center><h1 class="intro_hello">
            Riley Washington
        </h1></center>

        <center><div>
            <a href="https://www.linkedin.com/in/riley-washington-349765255/" target="_blank" class="LinkedIn">LinkedIn Profile</a>
        </div></center>

        <br>

        <center><p class = "intro_para">
            As a recent graduate of Columbia University, I was accepted into Forge's Launch Program, a competitive summer software engineering training program, where I further honed my skills. 
            Currently, I am working as a Front-End Software Engineer at Lumin, where I apply my coding expertise and collaborative skills in a professional setting. 
            I look forward to continuing to develop my skills and connect with others who share my passion for technology and innovation.
        </p></center>      
        <center><div class="container-res">
            <h1>Credentials</h1>
            
            <div class="section-divider"></div>
            <h2>EDUCATION</h2>
            <p><strong>Columbia University, New York, NY</strong><br>
            August 2020 - May 2024<br>
            GPA: 3.6<br>
            B.A in Computer Science<br>
            Concentration: East Asian Studies, Korea<br>
            <p></p>
            
    
            <div class="section-divider"></div>
            <h2>SKILLS</h2>
            Vue.js, React.js, Java, JavaScript, HTML, CSS, Ruby, C, C++, SQL, Python
            Git, Heroku, Cucumber, RSpec</p>
    
            <div class="section-divider"></div>
            <h2>EXPERIENCE</h2>
    
            <p><strong>Code Nation, Volunteer</strong><br>
            New York, January 2024 - May 2024<br>
            Mentored underprivileged high school students, fostering their development of Front-end coding projects using Javascript, HTML, and CSS.</p>

            <p><strong>Lumin, Software Engineer</strong><br>
            Charlottesville, May 2024 - Present<br>
            Collaborated closely with cross-functional teams to gather requirements, conduct user testing, and iterate on features, resulting in an over 50% decrease in support ticket resolution time.
            Implemented robust functionalities for troubleshooting smart panel issues, integrating real-time data retrieval through API calls, and ensuring seamless communication with backend systems.
            Contributed to adopting best practices in front-end development, including modular component design.
            </p>
            
            <p><strong>Resins By Riley, Creator and Manager</strong><br>
            New York, May 2020 – Present<br>
            Founded and oversaw operations of a handmade jewelry company, dedicating 15% of profits to the Color of Change Charity.
            Boosted sales by 50% in the first year of operation through strategic marketing initiatives, social media campaigns, and meticulous financial planning utilizing Excel and Google Sheets.</p>
        </div></center>
    </div>
    
</div>

{% endblock %}
